<link href="/css/profile.css" rel="stylesheet" />


<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="./img/dumbell.png" alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h5 class="black-text">Welcome, {{first_name}}!</h5>
              <p class="black-text">Member ID: {{id}}</p>
              <p class="pink-text">Make that booty work today</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-8 mb-4">
                    <h6>Account Email</h6>
                    <p class="text-muted">{{email}}</p>
                  </div>

                </div>
                <h6>Recent Workouts</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Reminder:</h6>
                    <p class="text-muted">Drink a minimum of 8 glasses of water per day!</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Daily Motivation:</h6>
                    <p class="text-muted">Your only limit is your mind</p>
                  </div>
                </div>
                {{!-- <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a> --}}
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Start Workout
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Equipment</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>

                      <div class="modal-body">
                        {{log equipment}}
                        {{#each equipment}}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="1flexCheckDefault"
                            data-equipId={{this.id}}>
                          <label class="form-check-label" for="flexCheckDefault">
                            {{this.name}}
                          </label>
                        </div>
                        {{/each}}

                        <div class="modal-body-2">
                          {{!-- This is where lines 25 until console.log in profiles.js deploy --}}
                        </div>
                      </div>
                      <div id="exercises-target">

                      </div>
                      <div class="modal-footer">

                        <button type="button" class="btn btn-primary" id="start-mdl-2">Start BootyCamp 🍑 </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="./js/scripts/profile.js"></script>


{{!--
</body> --}}

{{!--

</html> --}}